*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.company__navwrapper {
    margin-top: 1rem;
    padding: 4rem;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    padding-block: 1rem;
    z-index: 10;
}

.company__navigation {
    margin-inline: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company__navigation--links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
}

.logo {
    margin: 0.5rem;
    width: clamp(.5rem, 10vw, 5.5rem);
    display: grid;     
    place-items: center;
}

.company__navigation--links a {
    text-decoration: none;
}

.nav-btn {
    padding: 1.5rem;
    font-size: 2em;
    cursor: pointer;
}

.nav-btn > a {
    text-transform: uppercase;
}

.btn--menu {
    display: none;
}


/* main  */
.company__heading {
    top: 1rem;
    position: absolute;
    z-index: 100000;
    margin: 2rem  0;
    text-align: center;
}
.company__main {
    border: 1px solid red;
    display: grid;
    place-items: center;
    max-width: 100%;
    max-height: 100rem;
    position: relative;
}
.company__images {
    margin: 0 auto;
    max-width: 80%;
    max-height: 90%;
    position: relative;
    top:0;
    display: grid;
    place-items: center;
}

.company__images--background {
    top: 10rem;
    margin: 0 auto;
    position: absolute;
    max-height: 90%;
    max-width: 90%;
    z-index: 100;
    overflow: hidden;
}
.backgound-img {
    max-height: 100%;
    max-width: 100%;
    object-position: 0 -15rem;
}

.company__images--employee {
    max-height: 40%;
    max-width: 20%;
    position: absolute;
    z-index: 1000;
    bottom: 6rem;
    right: calc(50% + 2rem)
}

.company__images--employee img {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
    object-position: 0 5px;
}

.company__image--content {
    padding: min(1rem,4rem);
    display: grid;
    place-items: center;
    text-align: center;
    min-height: 40%;
    width: 20%;
    position: absolute;
    z-index: 1000;
    bottom: 6rem;
    left: calc(50% + 2rem);
    background-color: aliceblue;
}

.company__image--content  p {
    font-weight: 600;
    font-size: 2rem;
    line-height: min(2rem,1.8rem)
}



